@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section__title{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 60px;
    margin-top: 25px;
}

.contact{
    min-height: auto;
    padding-bottom: 7rem;
}

.contact .formularioContacto{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact .formularioContacto .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .formularioContacto .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact .formularioContacto .input-box .input-field input,
.contact .formularioContacto .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #ededed;
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid #00abf0;   
}

.contact .formularioContacto .input-box .input-field input::placeholder,
.contact .formularioContacto .textarea-field textarea::placeholder{
    color: #ededed;
}

.contact .formularioContacto .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #112e42;
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;        
}

.contact .formularioContacto .input-box .input-field input:focus~.focus,
.contact .formularioContacto .input-box .input-field input:valid~.focus,
.contact .formularioContacto .textarea-field textarea:focus~.focus,
.contact .formularioContacto .textarea-field textarea:valid~.focus{
    width: 100%;
}

.contact .formularioContacto .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact .formularioContacto .textarea-field textarea{
    resize: none;
}

.contact .formularioContacto .btn-box.btns .btn{
    cursor: pointer;
}


.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: #00abf0;
    border: .2rem solid #00abf0;
    border-radius: .8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover{
    color: #00abf0;
}

.btn-box .btn:nth-child(2){
    background: transparent;
    color: #00abf0;
}

.btn-box .btn:nth-child(2)::before{
    background: #00abf0;
}

.btn-box .btn:nth-child(2):hover{
    color: #081b29;
}


.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background: #081b29;
    height: 100%;
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before{
    width: 100%;
}

@media screen and (max-width: 1000px){
    .formularioContacto{
        font-size: 50%;
    }
}

@media  screen and (max-width: 520px) {
    .contact .formularioContacto .input-box .input-field input, .contact .formularioContacto .textarea-field textarea {
        padding: 1.1rem;
        font-size: 1.1rem;
    }
}