:root {
    --accent: #0A2B32;
    --spacing: 2.5em;
    --light-grey: #F5F5F5;
    --grey: #7C7C7C;
    --dark-blue: #204051;
    --primary: #3B6978;       
    --font_baloo: 'Baloo Da 2', cursive;
    --font_poppins: 'Poppins', sans-serif; 
}